/* Utility classes: Flex */
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.flex-space-around {
    justify-content: space-around;
}
.flex-space-between {
    justify-content: space-between;
}
.flex-justify-middle {
    justify-content: middle;
}

/* Utility classes: Sections */
.section-title {

}
.section {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}
.section:nth-child(2) { /* Todo: Review; nth-child starts with index 1; It is the nth child of the parent regardless of sibling having the same tag or not */
    margin-top: 20px;
}

/* Utility classes: Different Devices */
.spacer-vertical-small {
    height: 10px;
}
@media (max-width: 768px) {

}
@media (max-width: 568px) {
    .hidden-xs-down {
        display: none;
    }
}
@media (min-width: 568px) {
    .hidden-xs-up {
        display: none;
    }
}
