@import 'reset-css', 'utility-classes';

/* Color Theme */
:root {
    --dark: #21629A;
    --med: #FFFFFF;
    --light: #26A4E7;
}

body {
    font-family: "Lato", "Open+Sans";
}

/* Responsive Images that will shrink */
img {
    width: 100%;
}
/* Header section flexing */
header {
    .site-title {
        flex-basis: 465px;
    }
    .site-menu {
        flex-basis: 420px;
        min-width: 330px;
        // max-width: 500px;
    }
}

/* Section spacing */

@media screen AND (min-width: 568px) {
    .section {
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 20px;
    }
}

/* Header section other css */
header {
    /* Make header sticky */
    background-color: var(--dark);
    position: sticky;
    min-height: 55px;
    top: 0;
    padding-right: 15px;

    .site-title {
        h1 {
            display: inline;
            padding: 10px 10px 10px 0;
            margin: 10px 0;
            background-color: var(--light);
            color: var(--dark);
            vertical-align: middle;
        }
    }
    
    nav ul {
        margin-top: 15px;

        /* Site menu hovering */
        li {
            display: block;
            padding: 0 10px 5px 10px;
            color: var(--light);
            border-bottom: 2px solid var(--light);

            &:hover {
                border-bottom: 2px solid var(--med);
                // color: var(--med) !important;
                // transition: border 500ms;
                transition: color 500ms;
            }

            a {
                text-decoration: none;
                color: var(--light);
                transition: color 500ms;
            }
            a:hover {
                color: var(--med);
            }
        }
    }
}

/* About section other css */
.focus {
    background-image: url("../../assets/img/coding-stock.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 30px;

    img {
        display: block;
        // width: 450px;
        // height: 420px;
        // width: 50vw;
        // height: 53.57vw; /* width to height ratio: 1.07142857 */
        border-radius: 5px;

        @media screen AND (min-width: 768px) {
            & {
                width: 30vw;
                height: 32.14vw; /* width to height ratio: 1.07142857 */
            }
        }

        @media screen AND (max-width: 768px) {
            & {
                width: 90vw;
                height: 96.43vw; /* width to height ratio: 1.07142857 */
            }
        }
    }

    .focus__your-needs {
        width: 100%;
    }
    .focus__your-needs--inner {
        /* Centering x y axis */
        display: block;
        // width: 480px;
        width: 380px;
        // min-width: 30vw;
        padding: 10px;
        border-radius: 5px;
        background-color: var(--light);
        color: var(--med);

        @media screen AND (max-width: 768px) {
            & {
                width: 90vw;
            }
        }


        ul {
            margin-top: 10px;
            
            li {
                display: block;
                &::before {
                    content: "★\00a0"; /* Todo: Review; Unicode for space on list item marker */
                }
                margin-left: 4ch;
            }
        }
    }
}

/* About section flexing */
.focus .flex {

    & > * {
        flex-basis: 50%;
    }
}

.tech .flex > div {
    flex-basis: 33%;
    padding: 10px;
    li {
        margin-left: 4ch;
    }
}

.contact > .flex {
    & > *:nth-child(1) {  /* Todo: Review; nth-child starts with index 1; It is the nth child of the parent regardless of sibling having the same tag or not */
        flex: 1;
    }
    & > *:nth-child(2) {
        flex: 2;
    }
    ul {

        li {
            margin-bottom: 10px;
        }
        li::marker {
            content: "";
        }
        
    }
}