@import 'reset-css', 'utility-classes';

/* Color Theme */
:root {
    --dark: #21629A;
    --med: #FFFFFF;
    --light: #7fa5ba;
    --shade: #a7b3b9;
}

body {
    font-family: "Lato", "Open+Sans";
}

/* Responsive Images that will shrink */
img {
    width: 100%;
}
/* Header section flexing */
header {
    .site-title {
        flex-basis: 465px;
    }
    .site-menu {
        flex-basis: 420px;
        min-width: 330px;
        // max-width: 500px;
    }
}

/* Section spacing */
@media screen AND (max-width: 768px) {
    .section, main, footer {
        margin-bottom: 20px;
    }
}
@media screen AND (min-width: 768px) {
    .section, main, footer {
        padding: 20px 40px; /*Todo: Review; Two value padding/margin means upper/lower and left/right */
        margin-bottom: 20px;

        .flex {
            padding: 20px 10px;

        }
    }
}

/* Section title rotated 90 degrees on Desktop */
.section-title {
    display: block;
    width: 190px; /* Rotate needs same width for all section titles or will be placed on x axis inconsistently */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top:30px;
    text-align: left;
}
@media screen AND (min-width:1034px) {
    .section-title {
        transform: rotate(-90deg);
        float:left;
        font-size: 2rem;
        margin-top: 70px;
        margin-bottom: 30px;
        border-bottom: 4px solid var(--dark);
        text-align: center;
        vertical-align: bottom;
    }
    .work .section-title {
        margin-top: 90px;
    }
}

/* Header section other css */
header {
    /* Make header sticky */
    background-color: var(--dark);
    position: sticky;
    min-height: 55px;
    top: 0;
    padding-right: 15px;

    .site-title {
        h1 {
            display: inline;
            padding: 10px 10px 10px 0;
            margin: 10px 0;
            background-color: var(--light);
            color: var(--dark);
            vertical-align: middle;
        }
    }
    
    nav ul {
        margin-top: 15px;

        /* Site menu hovering */
        li {
            display: block;
            padding: 0 10px 5px 10px;
            color: var(--light);
            border-bottom: 2px solid var(--light);

            &:hover {
                border-bottom: 2px solid var(--med);
                // color: var(--med) !important;
                // transition: border 500ms;
                transition: color 500ms;
            }

            a {
                text-decoration: none;
                color: var(--light);
                transition: color 500ms;
            }
            a:hover {
                color: var(--med);
            }
        }
    }
}

/* About section other css */
.focus {
    background-image: url("../../assets/img/coding-stock.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 30px;

    img {
        display: block;
        // width: 450px;
        // height: 420px;
        // width: 50vw;
        // height: 53.57vw; /* width to height ratio: 1.07142857 */
        border-radius: 5px;

        @media screen AND (min-width: 768px) {
            & {
                width: 30vw;
                height: 32.14vw; /* width to height ratio: 1.07142857 */
            }
        }

        @media screen AND (max-width: 768px) {
            & {
                width: 90vw;
                height: 96.43vw; /* width to height ratio: 1.07142857 */
            }
        }
    }

    .focus__your-needs {
        width: 100%;
    }
    .focus__your-needs--inner {
        /* Centering x y axis */
        display: block;
        // width: 480px;
        width: 400px;
        // min-width: 30vw;
        padding: 15px;
        border-radius: 5px;
        background-color: var(--light);
        color: var(--med);

        @media screen AND (max-width: 768px) {
            & {
                width: 90vw;
            }
        }


        ul {
            margin-top: 10px;
            
            li {
                display: block;
                &::before {
                    content: "★\00a0"; /* Todo: Review; Unicode for space on list item marker */
                }
                margin-left: 4ch;
            }
        }
    }
}

/* About section flexing */
.focus .flex {

    & > * {
        flex-basis: 50%;
    }
}

/* Tech section flexing css */
.tech .flex > div {
    flex-basis: 33%;
    padding: 10px;
    li {
        margin-left: 4ch;
    }
}

/* Tech section other css */
.tech {
    .section-title {
        color: var(--dark);
    }
    .flex {
        border-radius: 5px;
        background-color: var(--dark);
        color: var(--light);

        li {
            color: var(--light);
        }
    }
}

/* Grid on desktop */
.grid {
    display: grid;
    margin: 0 auto;
    width: 80%;
    // height: 90vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    grid-gap: 5px;
    grid-auto-flow: dense; /* Grid items that are not given coordinates, automatically fill in as much blank spaces from top left origin as possible */

    figure {
        width: 100%;
        height: 100%;
    }

    figure:first-child {
        grid-column: 1 / span 4;
        grid-row: 1 / span 2;
    }

    figure:not(:first-child) {
        grid-column-end: span 2;
        grid-row-end: span 1;
    }
}


/* Grid on mobile */
@media screen AND (max-width:957px) {
    .grid {
        width:100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);

        figure {
            grid-column-end: span 1 !important;
            grid-row-end: span 1 !important;
        }
    }
}

/* Work section other css */
.work {
    .section-title {
        color: var(--dark);
    }
    figure {
        border: 2px solid var(--dark);
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
        figcaption {
            background-color: var(--dark);
            color: var(--shade);
            padding: 10px;
            position: absolute;
            bottom: 20px;
            left: 0;
            font-size: .8rem;
            line-height: 1.5;
        }
    }
}

/* Work section on mobile */
@media screen AND (max-width:957px) {
    .work figure figcaption {
        font-size: 1.5rem;
        line-height: 2;
    }
}


/* Contact section flexing */
.contact > .flex {
    & > *:nth-child(1) {  /* Todo: Review; nth-child starts with index 1; It is the nth child of the parent regardless of sibling having the same tag or not */
        flex: 1;
    }
    & > *:nth-child(2) {
        flex: 2;
    }
    ul {

        li {
            margin-bottom: 10px;
            margin-right: 10px;
        }
        li::marker {
            content: "";
        }
        
    }
}

/* Contact section other css */
.contact {
    .section-title {
        color: var(--dark);
    }
    .flex {
        padding-top: 10px;
        background-color: var(--dark);
        padding-bottom: 0;
    }
    li {
        border-bottom: 2px solid var(--light);
        transition: border 500ms;
        &:hover {
            border-bottom: 2px solid var(--med);
        }

        a {
            color: var(--light);
            transition: color 500ms;
            text-decoration: none;

            &:hover {
                color: var(--med);
            }
        }
    }
}

/* Last section is completely flushed to the side and bottom edges */
footer {
    margin: 0 !important; /* Override previous margin rules that were more specific because of selectors */
    padding: 0 !important;
}