/* line 1, ../scss/_reset-css.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 1, ../scss/_utility-classes.scss */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 6, ../scss/_utility-classes.scss */
.flex-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* line 11, ../scss/_utility-classes.scss */
.flex-space-around {
  justify-content: space-around;
}

/* line 14, ../scss/_utility-classes.scss */
.flex-space-between {
  justify-content: space-between;
}

/* line 17, ../scss/_utility-classes.scss */
.flex-justify-middle {
  justify-content: middle;
}

/* Color Theme */
/* line 4, ../scss/index.scss */
:root {
  --dark: #21629A;
  --med: #FFFFFF;
  --light: #26A4E7;
}

/* line 11, ../scss/index.scss */
header .site-title {
  flex: 2 25%;
}
/* line 15, ../scss/index.scss */
header .site-menu {
  flex: 1 25%;
}
/* line 18, ../scss/index.scss */
header nav ul li {
  display: block;
}
