@charset "UTF-8";
/* line 1, ../scss/_reset-css.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Img acting as background-images that can do contain, cover, and positioning */
/* line 2, ../scss/_image-clipping.scss */
.img-contain {
  object-fit: contain;
  object-position: 50% 50%;
  /* default value: image is centered */
}

/* line 6, ../scss/_image-clipping.scss */
.img-clip-0-0 {
  object-fit: cover;
  object-position: 0 0;
  /* positioned top left of the content box */
}

/* line 10, ../scss/_image-clipping.scss */
.img-clip-50-50 {
  object-fit: cover;
  object-position: 50% 50%;
  /* default value: image is centered */
}

/* Utility classes: Flex */
/* line 2, ../scss/_utility-classes.scss */
.flex {
  display: flex;
  flex-wrap: wrap;
}

/* line 6, ../scss/_utility-classes.scss */
.flex-row {
  flex-direction: row;
}

/* line 9, ../scss/_utility-classes.scss */
.flex-col {
  flex-direction: column;
}

/* line 12, ../scss/_utility-classes.scss */
.flex-space-around {
  justify-content: space-around;
}

/* line 15, ../scss/_utility-classes.scss */
.flex-space-between {
  justify-content: space-between;
}

/* line 18, ../scss/_utility-classes.scss */
.flex-justify-middle {
  justify-content: middle;
}

/* Utility classes: Spacing */
/* line 23, ../scss/_utility-classes.scss */
.padding-left-15px {
  padding-left: 15px;
}

/* line 26, ../scss/_utility-classes.scss */
.clearfix {
  clear: both;
}

/* Utility class: Center horizontally and vertically */
/* line 31, ../scss/_utility-classes.scss */
.center-x-y {
  display: block;
  margin: 0 auto;
  margin-top: 50%;
  transform: translateY(-100%);
}

/* Utility class: Center horizontally */
/* line 38, ../scss/_utility-classes.scss */
.center-x {
  display: block;
  margin: 0 auto;
}

/* Utility text classes */
/* line 44, ../scss/_utility-classes.scss */
.text-light {
  color: var(--light);
}

/* line 47, ../scss/_utility-classes.scss */
.text-med {
  color: var(--med);
}

/* line 50, ../scss/_utility-classes.scss */
.text-shade {
  color: var(--shade);
}

/* line 53, ../scss/_utility-classes.scss */
.text-dark {
  color: var(--dark);
}

/* line 56, ../scss/_utility-classes.scss */
.text-bold {
  font-weight: bold;
}

/* Utility classes: Different Devices */
/* line 61, ../scss/_utility-classes.scss */
.spacer-vertical-small {
  height: 10px;
}

@media (max-width: 568px) {
  /* line 68, ../scss/_utility-classes.scss */
  .hidden-xs-down {
    display: none !important;
  }
}
@media (min-width: 568px) {
  /* line 73, ../scss/_utility-classes.scss */
  .hidden-xs-up {
    display: none !important;
  }
}
/* Color Theme */
/* line 4, ../scss/index.scss */
:root {
  --dark: #21629A;
  --med: #FFFFFF;
  --light: #7fa5ba;
  --shade: #a7b3b9;
}

/* line 11, ../scss/index.scss */
body {
  font-family: "Lato", "Open+Sans";
}

/* Responsive Images that will shrink */
/* line 16, ../scss/index.scss */
img {
  width: 100%;
}

/* Header section flexing */
/* line 20, ../scss/index.scss */
header {
  border-bottom: 1px solid gray;
}
/* line 21, ../scss/index.scss */
header .site-title {
  flex-basis: 465px;
}
/* line 24, ../scss/index.scss */
header .site-menu {
  flex-basis: 420px;
  min-width: 330px;
}

/* Section spacing */
@media screen and (max-width: 768px) {
  /* line 34, ../scss/index.scss */
  .section, main, footer {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  /* line 39, ../scss/index.scss */
  .section, main, footer {
    padding: 20px 40px;
    /*Todo: Review; Two value padding/margin means upper/lower and left/right */
    margin-bottom: 20px;
  }
  /* line 43, ../scss/index.scss */
  .section .flex, main .flex, footer .flex {
    padding: 20px 10px;
  }
}
/* Section title rotated 90 degrees on Desktop */
/* line 51, ../scss/index.scss */
.section-title {
  display: block;
  width: 190px;
  /* Rotate needs same width for all section titles or will be placed on x axis inconsistently */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  text-align: left;
}

@media screen and (min-width: 1034px) {
  /* line 61, ../scss/index.scss */
  .section-title {
    transform: rotate(-90deg);
    float: left;
    font-size: 2rem;
    margin-top: 70px;
    margin-bottom: 30px;
    border-bottom: 4px solid var(--dark);
    text-align: center;
    vertical-align: bottom;
  }

  /* line 71, ../scss/index.scss */
  .work .section-title {
    margin-top: 90px;
  }
}
/* Header section other css */
/* line 77, ../scss/index.scss */
header {
  /* Make header sticky */
  background-color: var(--dark);
  position: sticky;
  z-index: 3;
  min-height: 55px;
  top: 0;
  padding-right: 15px;
  padding-bottom: 10px;
}
/* line 88, ../scss/index.scss */
header .site-title h1 {
  display: inline;
  padding: 10px 10px 10px 0;
  margin: 10px 0;
  background-color: var(--light);
  color: var(--dark);
  vertical-align: middle;
}
@media screen and (max-width: 663px) {
  /* line 98, ../scss/index.scss */
  header .site-title h1 {
    font-size: 1.8rem;
    line-height: 1.5;
  }
}
/* line 105, ../scss/index.scss */
header nav ul {
  margin-top: 15px;
  /* Site menu hovering */
}
/* line 109, ../scss/index.scss */
header nav ul li {
  display: block;
  padding: 0 10px 5px 10px;
  color: var(--light);
  border-bottom: 2px solid var(--light);
}
/* line 115, ../scss/index.scss */
header nav ul li:hover {
  border-bottom: 2px solid var(--med);
  transition: color 500ms;
}
/* line 122, ../scss/index.scss */
header nav ul li a {
  text-decoration: none;
  color: var(--light);
  transition: color 500ms;
}
/* line 127, ../scss/index.scss */
header nav ul li a:hover {
  color: var(--med);
}

/* About section other css */
/* line 135, ../scss/index.scss */
.focus {
  background-image: url("../../assets/img/coding-stock.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 30px;
}
/* line 142, ../scss/index.scss */
.focus img {
  display: block;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  /* line 151, ../scss/index.scss */
  .focus img {
    width: 30vw;
    height: 32.14vw;
    /* width to height ratio: 1.07142857 */
  }
}
@media screen and (max-width: 768px) {
  /* line 158, ../scss/index.scss */
  .focus img {
    width: 90vw;
    height: 96.43vw;
    /* width to height ratio: 1.07142857 */
  }
}
/* line 165, ../scss/index.scss */
.focus .focus__your-needs {
  width: 100%;
}
/* line 168, ../scss/index.scss */
.focus .focus__your-needs--inner {
  /* Centering x y axis */
  display: block;
  width: 400px;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--light);
  color: var(--med);
}
@media screen and (max-width: 768px) {
  /* line 180, ../scss/index.scss */
  .focus .focus__your-needs--inner {
    width: 90vw;
  }
}
/* line 186, ../scss/index.scss */
.focus .focus__your-needs--inner ul {
  margin-top: 10px;
}
/* line 189, ../scss/index.scss */
.focus .focus__your-needs--inner ul li {
  display: block;
  margin-left: 4ch;
}
/* line 191, ../scss/index.scss */
.focus .focus__your-needs--inner ul li::before {
  content: "★\00a0";
  /* Todo: Review; Unicode for space on list item marker */
}

/* About section flexing */
/* line 203, ../scss/index.scss */
.focus .flex > * {
  flex-basis: 50%;
}

/* Tech section flexing css */
/* line 209, ../scss/index.scss */
.tech .flex > div {
  flex-basis: 33%;
  padding: 10px;
}
/* line 212, ../scss/index.scss */
.tech .flex > div li {
  margin-left: 4ch;
}

@media screen and (max-width: 768px) {
  /* line 217, ../scss/index.scss */
  .tech .flex > div {
    flex-basis: 100%;
    padding-bottom: 20px;
  }
}
/* Tech section other css */
/* line 225, ../scss/index.scss */
.tech .section-title {
  color: var(--dark);
}
/* line 228, ../scss/index.scss */
.tech .flex {
  border-radius: 5px;
  background-color: var(--dark);
  color: var(--light);
}
/* line 233, ../scss/index.scss */
.tech .flex li {
  color: var(--light);
}

/* Grid on desktop */
/* line 240, ../scss/index.scss */
.grid {
  display: grid;
  margin: 0 auto;
  width: 80%;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  grid-gap: 5px;
  grid-auto-flow: dense;
  /* Grid items that are not given coordinates, automatically fill in as much blank spaces from top left origin as possible */
}
/* line 251, ../scss/index.scss */
.grid figure {
  width: 100%;
  height: 100%;
}
/* line 256, ../scss/index.scss */
.grid figure:first-child {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
}
/* line 261, ../scss/index.scss */
.grid figure:not(:first-child) {
  grid-column-end: span 2;
  grid-row-end: span 1;
}

/* Grid on mobile */
@media screen and (max-width: 957px) {
  /* line 270, ../scss/index.scss */
  .grid {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  /* line 275, ../scss/index.scss */
  .grid figure {
    grid-column-end: span 1 !important;
    grid-row-end: span 1 !important;
  }
  /* line 279, ../scss/index.scss */
  .grid .flushed-to-grid {
    grid-column-end: span 1 !important;
    grid-row-end: fit-content;
  }
}
/* Work section other css */
/* line 288, ../scss/index.scss */
.work .section-title {
  color: var(--dark);
}
/* line 291, ../scss/index.scss */
.work figure {
  border: 4px solid var(--dark);
  position: relative;
}
/* line 294, ../scss/index.scss */
.work figure img {
  width: 100%;
  height: 100%;
}
/* line 298, ../scss/index.scss */
.work figure figcaption {
  background-color: var(--dark);
  color: var(--shade);
  padding: 10px;
  position: absolute;
  bottom: 20px;
  left: 0;
  font-size: .8rem;
  line-height: 1.5;
  border-top-right-radius: 5px;
  /* Todo: Review; Smooth out specific corner */
  border-bottom-right-radius: 5px;
}
/* line 310, ../scss/index.scss */
.work figure .overlay {
  /* Todo: Review: Overlay color when hovering */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms;
}
/* line 319, ../scss/index.scss */
.work figure .overlay:hover {
  opacity: .15;
}
/* line 323, ../scss/index.scss */
.work figure .overlay-1 {
  background-color: blue;
}
/* line 326, ../scss/index.scss */
.work figure .overlay-2 {
  background-color: purple;
}
/* line 329, ../scss/index.scss */
.work figure .overlay-3 {
  background-color: red;
}
/* line 332, ../scss/index.scss */
.work figure .overlay-4 {
  background-color: blue;
}
/* line 335, ../scss/index.scss */
.work figure .overlay-5 {
  background-color: purple;
}

/* Work section on mobile */
@media screen and (max-width: 957px) {
  /* line 343, ../scss/index.scss */
  .work figure figcaption {
    font-size: 1.25rem;
    line-height: 2;
  }
}
/* Credited section that's a nested section of Work */
/* line 350, ../scss/index.scss */
.credited.flushed-to-grid {
  grid-column-end: span 8;
  margin-top: 20px;
  width: 100% !important;
  background-color: var(--dark);
  color: var(--light);
  padding: 10px;
}
/* line 357, ../scss/index.scss */
.credited.flushed-to-grid li {
  display: block;
  /* Spacing and colors in the credited items */
}
/* line 359, ../scss/index.scss */
.credited.flushed-to-grid li::marker, .credited.flushed-to-grid li::before {
  content: "";
}
/* line 364, ../scss/index.scss */
.credited.flushed-to-grid li details {
  /* Remove collapse/expand icon for <details> */
}
/* line 366, ../scss/index.scss */
.credited.flushed-to-grid li details summary::-webkit-details-marker {
  display: none;
}
/* line 369, ../scss/index.scss */
.credited.flushed-to-grid li details summary {
  margin: 5px 0;
}
/* line 372, ../scss/index.scss */
.credited.flushed-to-grid li details > div {
  margin: 5px 18px;
}
/* line 376, ../scss/index.scss */
.credited.flushed-to-grid li details .fa-info {
  margin-right: 1ch;
  cursor: pointer;
}
/* line 380, ../scss/index.scss */
.credited.flushed-to-grid li details a {
  color: var(--shade);
}
/* line 383, ../scss/index.scss */
.credited.flushed-to-grid li details a:hover {
  color: var(--med);
}

/* Contact section flexing */
/* line 392, ../scss/index.scss */
.contact > .flex > *:nth-child(1) {
  /* Todo: Review; nth-child starts with index 1; It is the nth child of the parent regardless of sibling having the same tag or not */
  flex: 1;
}
/* line 395, ../scss/index.scss */
.contact > .flex > *:nth-child(2) {
  flex: 2;
}
/* line 400, ../scss/index.scss */
.contact > .flex ul li {
  margin-bottom: 10px;
  margin-right: 10px;
}
/* line 404, ../scss/index.scss */
.contact > .flex ul li::marker {
  content: "";
}

/* Contact section other css */
/* line 413, ../scss/index.scss */
.contact .section-title {
  color: var(--dark);
}
/* line 416, ../scss/index.scss */
.contact .flex {
  padding-top: 10px;
  background-color: var(--dark);
  padding-bottom: 0;
}
/* line 421, ../scss/index.scss */
.contact li {
  display: inline-block;
  border-bottom: 2px solid var(--light);
  transition: border 500ms;
}
/* line 425, ../scss/index.scss */
.contact li:hover {
  border-bottom: 2px solid var(--med);
}
/* line 429, ../scss/index.scss */
.contact li a {
  color: var(--light);
  transition: color 500ms;
  text-decoration: none;
}
/* line 434, ../scss/index.scss */
.contact li a:hover {
  color: var(--med);
}

/* Last section is completely flushed to the side and bottom edges */
/* line 442, ../scss/index.scss */
footer {
  margin: 0 !important;
  /* Override previous margin rules that were more specific because of selectors */
  padding: 0 !important;
}
